<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New account</title>
</head>

<body>
    <form action="" method="post">
        <label for="name">Name</label>
        <input name="name" type="text" />
        <label for="balance">Initial balance</label>
        <input name="balance" type="number" />
        <button type="submit">Create</button>
    </form>
</body>

</html>